// app global css
.logo_qmenu {max-width:150px; padding-right:10px; float: left;}
@media screen and (max-width:640px) {
   .limits {
    position: unset;
    margin-top: 10px !important;
    background-color: #f6f7f7;
    padding-left: 10px;
    margin-left: 0px !important;
    border-style: solid !important;
    border-color: rgba(0,0,0,0.12) !important;
    border-width: 1px 1px 1px 1px !important;
  }

  .limit_key {
      width: calc(100% - 89px);
  }

  /* .q-table__container {
    border-style: solid !important;
    border-color: rgba(0,0,0,0.12) !important;
    border-width: 2px 2px 0px 2px !important;
  } */
}


@media screen and (max-width:480px) {
  .logo_qmenu{float:none !important; margin-top:10px; margin-bottom: -10px !important;}
  .searchimeihistory {
    margin-bottom: -10px;
  }

  .oder {
    margin-bottom: 10px;
  }

  .q-table__title {
    max-width: 200px;
  }

  .todate {
    margin-bottom: -35px;
    margin-top: -20px;
  }

  .historyOk {
    margin-left: calc(100% - 70px);
  }

  .historyPage {
    padding: 10px !important;
  }

  .historyInputRow {
    width: calc(100% - 10px);
  }

  .historyTable {
    margin-top: 20px;
  }

  .tabelsearch {
    top: 20px;
  }
}

.my-sticky-header-table
  /* max height is important */
  .q-table__title{font-weight: 500 !important;}
  .q-table__middle
    max-height auto
    min-height: 150px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color #f6f7f7

  thead tr:first-child th
    position sticky
    top 0
    opacity 1
    z-index 1


#RequestForSentOutForm .q-radio__inner {
  color: gray !important
}

#globallayer {
  z-index: 9998 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed !important;
  display: none;
}

.q-field__control {
  height: 32px;
}

.q-field__marginal {
  height: 32px;
}

.dates .q-field__native {
  pointer-events: none;
}

.tabelsearch .q-field--focused {
  border-bottom: 1px solid #13496d;
}

.bnetlogo {

}

 .limits {
    position: unset;
    margin-top: 10px !important;
    background-color: #f6f7f7;
    padding-left: 10px;
    margin-left: 0px !important;
    border-style: solid !important;
    border-color: rgba(0,0,0,0.12) !important;
    border-width: 1px 1px 1px 1px !important;
  }

/* .q-table__container {
    border-style: solid !important;
    border-color: rgba(0,0,0,0.12) !important;
    border-width: 2px 2px 0px 2px !important;
  } */


  .q-item--active {
    color: gray;
  }

  .bg-gray {
    background: gray !important
  }